@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

#Video {
    color: darkblue;
    text-align: center;
}

/* Voy a ubicar el mapa al centro*/
#mapa {
    color: darkgreen;
    text-align: center;
}

/*Aca hago el footer con animacion hover*/
.footer:hover {
    color: red;
    grid-area: footer;
    transform: translate(500px, 0px);
    transition: all 3s;
}


/* Pongo fondos */
body {
    background-color: lightskyblue;
    background-size: cover;
}

/* Organizo el menu */
.box {
    position: relative;
    ;
    display: inline;
    text-align: right;
    margin: 20px;
    text-decoration: none;
    border: 10px solid;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    font-weight: bolder;
    color: beige;
    font-size: 120%;
}

/* Doy estilo a mi anuncio de la pagina de inicio y uso gradiente*/
.anuncio {
    color: black;
    font-size: 500%;
    font-style: italic;
    border: solid 5px greenyellow;
    font-family: Arial;
    background-image: linear-gradient(to right, rgb(170, 100, 100), white);
    margin-top: 100px;
}


/*alineo menu */
.Lista {
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

/* Acomodo el Logo a la izquierda*/
.Img {
    text-align: left;
    border-radius: 8px;
    transition: all 250ms;
}

/*agrando logo cuando toco*/

.Img:hover {
    transform: scale(1.5);
    width: 100px;
}

/*Otorgo color de fondo a mi pagina de servicio*/
.Servicios {
    background-color: rgba(255, 255, 0, 0.614);
}

/**/
.Contacto {
    background-color: rgba(113, 255, 47, 0.354);
    margin-bottom: 20px;
}

/**/
.Carrito {
    background-color: lightslategrey;
}

/*armo box modelling en mi lista de products para usar gradiente*/
.Products {
    color: black;
    border: solid 1px black;
    margin-right: 700px;
    margin-left: 600px;
    margin-bottom: 100px;
    background-image: linear-gradient(to top, red, yellow);
    transition: all 250ms;
}

.Products:hover {
    transform: scale(1.1);
}


/**/
.Pipp {
    text-align: center;
    line-height: 5.5;
}

/*muevo mi imagen*/
.carro {
    text-align: center;
    margin-bottom: 60px;
}

/*encabezado contacto*/
.cont {
    color: brown;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 600%;
    font-family: 'Roboto', sans-serif;
}

/* Armo lista de lo que pedi en una caja, siguiente paso es relizar que se envie*/
#ordenes {
    border: solid 2px black;
    height: 500px;
    background-color: beige;
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

/* creo buton*/
button {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10 px;
    color: white;
    background-color: lightgreen;
}

/*Armo buscador para la pagina con box modeling*/

/*armo transicion*/

.transition {
    border: solid 2px black;
    background-color: rgba(255, 255, 255, 0.83);
    margin-right: 700px;
    margin-left: 500px;
    margin-bottom: 60px;
    width: 600px;
    text-align: center;
}

/*agregohover a lista de productos*/
.transition:hover {
    transform: scale(1.1);
    width: 900px;
}

/*alineo empanadas*/
.tipos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}


#lasempa {
    text-align: center;
}

/* foto de distintas pizzas para pedir*/

.cuales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 100px;
    grid-row-gap: 900px;
}

/* ordeno mis latas de cerveza para vender*/
.marcasdebirra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    align-content: center;
    grid-row-gap: 300px;
}

/* aplico fondo al sector de galeria*/

.fondogalery {
    background-color: lightsalmon;
}

.cajaimg {
    display: inline;
    width: 90%;
}

.cajaimg a img {
    max-height: 70%;
    max-width: 80%;
    margin: 10px;
    width: 500px;
    border-radius: 8px;
    height: 450px;
}

/*pongo whatsapp para que me contacten*/
.wapp {
    float: right;
    padding-top: 50px;
}

/*armo areas*/

.PadreGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        ".pizza empa."
        ".birra birra."
    ;
    align-items: center;
}

.cajaimg {
    grid-area: pizza;
}

.empaindex {
    grid-area: empa;
}


.cerveindex {
    grid-area: birra;
}

/*agrando imagen*/
.pizzamedia {
    width: 2000px;
    height: 700px;
}

/*background al index*/
.Main{
    background-color: lightblue;
}

/*meter traslado de imagen del carro y la animacion*/
.muevecarro:hover {
    transform: rotateX(310deg);
}

@keyframes zoom {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.2);
    }
}

.muevecarro:hover {
    width: 40%;
    animation-name: zoom;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 0;
    animation-fill-mode: forwards;
}

/*voy agregar clases para utilizar el hover en el area de servicios*/

.jamon:hover {
    height: 300px;
    width: 300px;
}

.cebolla:hover {
    height: 300px;
    width: 300px;
}

.carne:hover {
    height: 300px;
    width: 300px;
}

/*hago lo mismo con las pizzas en servicios*/
.decebo:hover {
    height: 300px;
    width: 300px;
}

.demuzza:hover {
    height: 300px;
    width: 300px;
}

.dejamon:hover {
    height: 300px;
    width: 300px;
}

/*aplico hover a mi cervezas*/

.impe:hover {
    height: 300px;
    width: 300px;
}

.stelita:hover {
    height: 300px;
    width: 300px;
}

.andona:hover {
    height: 300px;
    width: 300px;
}

.heini:hover {
    height: 300px;
    width: 300px;
}

.scheinde:hover {
    height: 300px;
    width: 300px;
}

.cori:hover {
    height: 300px;
    width: 300px;
}

/*empiezo hacer medias queries*/

/*Realizo vista mobile en el index y en la pagina de carritos*/

@media only screen and (max-width:768px) {
    .muevecarro {
        height: 100px;
        width: 100px;
    }

    .logorespon {
        height: 150px;
        width: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    Img {
        text-align: center;
    }

    #ordenes {
        border: solid 2px black;
        height: 200px;
        width: 400px;
        background-color: beige;
        color: black;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
    }

    .PadreGrid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "pizza"
            "empa"
            "birra";
        align-items: center;
    }

    .cajaimg {
        grid-area: pizza;
    }

    .empaindex {
        grid-area: empa;
    }


    .cerveindex {
        grid-area: birra;
    }

    .pizzamedia {
        width: 750px;
        height: 250px;
    }

    .empanadamedia {
        width: 750px;
        height: 250px;
    }

    .cervezamedia {
        width: 750px;
        height: 250px
    }
}